/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.center {
  padding: 2%;
  margin: 2%;
}
hr {
  width: 96%;
}
nav {
  margin: auto 2%;
  display: flex;
}
nav .navigation {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding-top: 2%;
}
nav .list {
  width: 100%;
  text-align: end;
}
nav a {
  padding: 0% 3% 0% 3%;
  color: #1a1a1a;
  text-decoration: none;
}
.about {
  padding: 2%;
  margin: 2%;
}
.about .intro {
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
}
@media (max-width: 515px) {
  .about .intro .code {
    display: flex;
    justify-content: center;
  }
}
.about .intro img {
  width: 30%;
  height: auto;
  padding-left: 3%;
  padding-top: 3%;
  opacity: 0.8;
}
.about .intro .inovation h1 {
  text-align: start;
  font-size: 3rem;
  padding: 2%;
  font-family: 'Gupter', serif;
  padding-left: 3%;
  opacity: 0.8;
}
.about .intro .inovation p {
  padding: 0.5%;
  padding-left: 2%;
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.about .intro .inovation button {
  background-color: #595959;
  border-radius: 5px;
  width: 15%;
  height: 2.8rem;
  margin: 1% 0% 5% 2%;
  color: #fff;
  transition: ease-in-out 0.35s;
  font-size: 1.1rem;
}
.about .intro .inovation button:hover {
  transform: translateY(-0.15em);
  transition: ease-in-out 0.25s;
  color: #fff;
  -webkit-box-shadow: -2px 16px 11px -11px #696969;
  -moz-box-shadow: -2px 16px 11px -11px #696969;
  box-shadow: -2px 16px 11px -11px #696969;
}
@media (max-width: 962px) {
  .about .intro .inovation button {
    font-size: 0.8rem;
  }
}
@media (max-width: 515px) {
  .about .intro .inovation button {
    font-size: 0.5rem;
    color: red;
    background-color: #fff;
    margin: 5% 0% 5% 42%;
  }
  .about .intro .inovation button:hover {
    transform: translateY(-0.15em);
    transition: ease-in-out 0.25s;
    color: #000;
    font-weight: bold;
    -webkit-box-shadow: -2px 16px 11px -11px #696969;
    -moz-box-shadow: -2px 16px 11px -11px #696969;
    box-shadow: -2px 16px 11px -11px #696969;
  }
}
.info-section {
  padding: 2%;
  margin: 2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media (max-width: 800px) {
  .info-section {
    display: flex;
    flex-direction: column;
  }
}
.info-section .info-one,
.info-section .info-two {
  width: 50%;
  height: 20rem;
}
@media (max-width: 800px) {
  .info-section .info-one,
  .info-section .info-two {
    width: 100%;
  }
}
@media (max-width: 976px) {
  .info-section .info-one p {
    line-height: 1.1rem;
  }
}
.info-section .info-two-inner {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}
.info-section .info-two-inner div {
  height: 3.5rem;
  border: 1px solid #e5e5e5;
}
.info-section .info-two-inner div h4 {
  margin: 4%;
}
.info-section h2 {
  padding-left: 2%;
  font-size: 1.5rem;
  font-weight: bold;
}
.info-section .biger {
  font-size: 2rem;
}
.info-section p {
  padding-left: 2%;
  line-height: 1.4rem;
  padding-top: 3%;
}
.work-section {
  padding: 2%;
  margin: 2%;
}
.work-section hr {
  width: 100%;
}
.work-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.work-section .work {
  height: 2rem;
  display: flex;
}
@media (max-width: 515px) {
  .work-section .work {
    height: 3rem;
  }
}
.work-section .one {
  font-weight: bold;
}
.work-section .two,
.work-section .four {
  background-color: #e5e5e5;
}
.work-section h3,
.work-section h4 {
  width: 25%;
  margin: 0.8% auto;
}
@media (max-width: 515px) {
  .work-section h3,
  .work-section h4 {
    width: 20%;
  }
}
footer {
  padding: auto 3%;
  margin: auto 3%;
  background-color: #595959;
  height: 5rem;
}
.end {
  text-align: center;
  padding-top: 2%;
  color: #fff;
  text-shadow: 0.1px 0.1px #fff;
}
